@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: roboto, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: pota one;
  letter-spacing: 0.2em;
}

h2 {
  font-weight: 900;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  padding: 15px;
  text-align: center;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  text-decoration: none;
  border: none;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
header i {
  color: white;
  padding: 30px 0;
  font-size: 1.5em;
  margin-right: 30px;
}
header h1 {
  color: white;
  text-align: center;
  font-size: 3em;
  padding: 30px 0;
  margin-left: 15px;
  font-style: italic;
}
header .nbrArticleIcone {
  position: absolute;
  display: none;
  top: 15px;
  right: 50px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background-color: #4dd478;
  border-radius: 50%;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
footer .boxIcone {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
footer i {
  font-size: 2em;
}

.confirmation {
  background-color: white;
  padding: 15px;
}
.confirmation h3 {
  padding: 30px 0 0 0;
}
.confirmation li {
  line-height: 1.8;
}
.confirmation #idCommande {
  font-size: 0.8em;
  color: red;
}
.confirmation .valueConfirmation {
  font-weight: bold;
}
.confirmation .btn {
  margin: 50px auto;
}

.validationConfirmation .boxConfirm {
  font-size: 1.5em;
  color: #249749;
  padding: 20px 0;
  border-radius: 10px;
  background-color: #f1fcf5;
}
.validationConfirmation .check {
  font-size: 2em;
  padding-top: 10px;
}

.card {
  max-width: 370px;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 0 0 9px 10px lightgray;
  background-color: white;
}
@media (min-width: 600px) {
  .card {
    margin: 40px 20px;
  }
}
.card h3 {
  padding: 15px 0 0 15px;
  position: relative;
}
.card h3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 15px;
  width: 50px;
  border-bottom: 2px solid #4dd478;
}
.card img {
  margin: 30px 0 20px 0;
  width: 100%;
  box-shadow: 0 0 20px 0px #e7e7e7;
  height: 230px;
  object-fit: cover;
  object-position: center center;
}
.card i {
  display: block;
  text-align: right;
  padding: 10px 10px 20px 0;
  font-size: 1.3em;
  border-top: solid 1px black;
  font-weight: bold;
}
.card .check::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  color: #4dd478;
  text-align: center;
  font-weight: 900;
  font-size: 2em;
  width: calc(100% + 20px);
  margin-left: -10px;
  padding: 20px 0;
  background: #525252;
  border-radius: 0 0 20px 20px;
}

.cardCustom {
  margin: 0px 0;
  padding: 20px 15px;
  max-width: 370px;
  margin: auto;
  border-radius: 20px;
  background: white;
}
.cardCustom img {
  width: 100%;
}
.cardCustom .prix {
  text-align: center;
  padding: 20px 0;
}
.cardCustom .wrapperColor {
  padding-top: 20px;
  margin-top: 20px;
  border-top: solid 1px black;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
.cardCustom .wrapperColor select {
  margin: 20px 0;
}
.cardCustom .sampleColor {
  width: 50%;
  height: 50px;
  border: solid 1px black;
  margin: auto;
}

.section2 {
  background-color: white;
  padding: 30px 0 20px 0;
  text-align: center;
}
.section2 h2 {
  font-size: 2.2em;
  line-height: 1.6;
}

.sectionIcone {
  width: 100%;
  text-align: center;
  font-size: 5em;
  padding: 30px 0;
  color: rgba(145, 63, 153, 0.678);
  background-color: #f2f2f2;
}

#wrapperItems {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: stretch;
  padding: 40px 15px;
  background-color: #f2f2f2;
}

.wrapperItems {
  background-color: #f2f2f2;
  padding: 40px 0;
}

.wrapperItem {
  padding: 50px 15px;
}

.btn {
  display: block;
  margin: 20px auto;
  font-size: 1.5em;
  padding: 10px 20px;
  color: white;
  background-color: #ab2222;
  cursor: pointer;
  border-radius: 50px;
}
.btn__couleur {
  color: white;
  display: block;
  margin: 0px auto;
  font-size: 1.1em;
  padding: 10px 15px;
  border-radius: 50px;
  background-color: #4dd478;
}
.btn__panier {
  display: block;
  text-align: center;
  background-color: #ab2222;
  color: white;
  width: 100%;
  font-size: 1.2em;
  padding: 20px;
  margin: 20px 0 0 0;
}
.btn__supprimer {
  background-color: #dd5656;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.wrapperForm {
  padding: 0 15px;
}
.wrapperForm h2 {
  font-size: 1.3em;
  font-weight: 500;
  padding: 40px 15px 10px 0;
  line-height: 1.4;
}

.formulaire {
  padding: 0 15px;
  border: solid 1px lightgray;
  border-radius: 20px;
  background-color: #fff;
}
.formulaire .formInput {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 5px 5px;
  background-color: white;
  font-size: 1em;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #cdcdcd;
  border: none;
}
.formulaire .formLabel {
  position: relative;
  padding-left: 10px;
  width: 100%;
}
.formulaire .formLabel::after {
  content: "*";
  position: absolute;
  top: 0;
  left: 0px;
  color: red;
}
.formulaire div {
  margin: 20px 0;
}

.titleBoxPanier {
  text-align: center;
  font-size: 1.5em;
  border-bottom: solid 1px black;
  padding-bottom: 20px;
}

.emptyBasket {
  text-align: center;
  padding: 50px;
  margin: 20px 0;
  font-size: 1em;
  font-weight: 400;
  background-color: #ffcccc;
  color: #cc0000;
  border: solid 1px red;
}

#recup {
  padding: 0 15px;
}

.boxItemPanier {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  background-color: #fff;
  border-bottom: solid 1px lightgray;
  padding: 10px 0 20px 0;
}
.boxItemPanier .title {
  width: 100%;
  padding: 5px 0 15px 0px;
  font-size: 0.8em;
  font-style: italic;
  text-decoration: underline;
}
.boxItemPanier .boxPrixItem {
  height: 100%;
}
.boxItemPanier .itemImg {
  box-shadow: 0 0 10px 0 lightgray;
  width: 25%;
  min-height: 70px;
  height: auto;
  object-fit: cover;
}
.boxItemPanier .itemPrice {
  font-size: 0.6em;
}
.boxItemPanier .prixTotalItem {
  font-weight: bold;
  text-align: right;
}
.boxItemPanier .boxQuantite {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.boxItemPanier select {
  margin-left: 10px;
}

.boxPrixTotal {
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #fff;
  margin: 0 15px;
}
.boxPrixTotal div:nth-child(1) {
  width: 70%;
  text-align: right;
}

.fonctionnement {
  background-color: #fff;
  position: relative;
  padding: 20px 0;
}
.fonctionnement h2 {
  font-size: 1.6em;
  padding: 20px 0 20px 15px;
  letter-spacing: 2px;
}
.fonctionnement ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 20px 0;
}
.fonctionnement .itemExplication {
  font-size: 1.2em;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0 0 10px 0px #b4b4b4;
  margin: 10px;
}

hr {
  display: block;
  color: red;
  width: 50%;
  margin: 0px auto 60px auto;
  background-color: red;
}

/*# sourceMappingURL=style.css.map */
