@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

main {
  background-color: #f2f2f2;
}

body {
  font-family: roboto, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: pota one;
  letter-spacing: 0.2em;
}

h2 {
  font-weight: 900;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  padding: 15px;
  text-align: center;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

button {
  text-decoration: none;
  border: none;
}

h1 {
  color: white;
  text-align: center;
  font-size: 3em;
  background-color: black;
  padding: 30px 0;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
footer .boxIcone {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
footer i {
  font-size: 2em;
}

.card {
  padding: 10px;
  padding-bottom: 0;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 0 0 9px 10px lightgray;
}
.card h3 {
  padding: 15px 0 0 15px;
  position: relative;
}
.card h3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 15px;
  width: 50px;
  border-bottom: 2px solid #22ab4d;
}
.card img {
  margin: 30px 0 20px 0;
  width: 100%;
}
.card i {
  display: block;
  text-align: right;
  padding: 10px 10px 20px 0;
  font-size: 1.3em;
}
.card i::after {
  content: " €";
}
.card .check::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  color: #22ab4d;
  text-align: center;
  font-weight: 900;
  font-size: 2em;
  width: calc(100% + 20px);
  margin-left: -10px;
  padding: 20px 0;
  background: #525252;
  border-radius: 0 0 20px 20px;
  transition: 1s;
}

.cardCustom {
  margin: 40px 0;
  padding: 0px 15px;
  border-radius: 20px;
  background: #ffffff;
}
.cardCustom img {
  width: 100%;
}
.cardCustom .prix {
  text-align: center;
  padding: 20px 0;
}
.cardCustom .prix::after {
  content: " €";
}
.cardCustom .boxCouleur {
  margin-top: 15px;
  padding: 10px 15px;
  border-top: solid 1px black;
  opacity: 0;
  transform: scaleY(0);
  transition: transform 1s;
}
.cardCustom .renduCouleur {
  width: 20px;
  height: 20px;
  border: solid 1px black;
  margin: 10px auto;
}

.section2 {
  background-color: white;
  padding: 50px 0;
}
.section2 h2 {
  font-size: 2.2em;
  line-height: 1.6;
  padding-left: 15px;
}

.sectionIcone {
  width: 100%;
  text-align: center;
  font-size: 4em;
  padding: 30px 0;
}

#wrapperItems {
  background-color: white;
  padding: 0px 15px 50px 15px;
}

.wrapperItems {
  padding: 0 15px;
}

.btn {
  display: block;
  margin: 20px auto;
  font-size: 1.5em;
  padding: 10px 20px;
  color: white;
  background-color: #ab2222;
  border-radius: 50px;
}
.btn__couleur {
  color: white;
  display: block;
  margin: 0px auto;
  font-size: 1.1em;
  padding: 10px 15px;
  border-radius: 50px;
  background-color: #22ab4d;
}

.wrapperForm {
  padding: 0 15px;
}

.formulaire .formInput {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 5px 5px;
  background-color: white;
  font-size: 1em;
  border-radius: 5px;
  box-shadow: 0 0 25px 5px #cdcdcd;
  border: none;
}
.formulaire .formLabel {
  position: relative;
  padding-left: 10px;
  width: 100%;
}
.formulaire .formLabel::after {
  content: "*";
  position: absolute;
  top: 0;
  left: 0px;
  color: red;
}
.formulaire div {
  margin: 20px 0;
}

.titleBoxPanier {
  text-align: center;
  font-size: 1.5em;
  border-bottom: solid 1px black;
  padding: 10px 0;
}

#recup {
  padding: 0 15px;
}

.boxItemPanier {
  display: flex;
  justify-content: space-evenly;
  border: solid 1px black;
  padding: 10px 0;
  margin: 10px 0;
}
.boxItemPanier .boxPrixItem {
  height: 100%;
}
.boxItemPanier .prix::after {
  content: " €";
}
.boxItemPanier .itemImg {
  width: 100px;
}
.boxItemPanier .itemPrice {
  font-size: 0.6em;
}
.boxItemPanier .prixTotalItem {
  font-weight: bold;
}

.boxPrixTotal {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 15px;
}

/*# sourceMappingURL=style.css.map */
