
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px 0;
    margin-top: 500px;
    text-align: center;
    
    
    .boxIcone{
        margin: 10px 0;
        display: flex;
        justify-content: space-around;
        flex-flow: wrap;
        
    }
    i{
        font-size: 2em;
    }
}
