

.card{
    max-width: 370px;;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0 0 9px 10px lightgray;
    background-color: white;
    @include tablette {
        margin:40px 20px
    }
    
    h3{
        padding: $gutter 0 0 $gutter;
        position: relative;
    }
    h3::after{
        content: "";
        position: absolute;
        bottom: -10px;
        left: $gutter;
        width: 50px;
        border-bottom: 2px solid $color-primary;
    }
    
    img{
        margin: 30px 0 20px 0;
        width: 100%;
        box-shadow: 0 0 20px 0px rgb(231, 231, 231);
        height: 230px;
        object-fit: cover;
        object-position: center center;
        
    }
    i{
        display: block;
        text-align: right;
        padding: 10px 10px 20px 0;
        font-size: 1.3em;
        border-top: solid 1px black;
        font-weight: bold;
    }
    i::after{
        content: " €";
    }
    .check::after{
        
        content: "\f00c";
        font-family: "Font Awesome 5 Free";
        
        display: inline-block;
        color: $color-primary;
        text-align: center;
        font-weight: 900;
        font-size: 2em;
        
        width: calc(100% + 20px);
        margin-left: -10px;
        padding: 20px 0;
        
        background: rgb(82, 82, 82);
        border-radius: 0 0 20px 20px;
    } 
}



.cardCustom{
    margin: 0px 0;
    padding: 20px $gutter;
    max-width: 370px;
    margin: auto;
    border-radius: 20px;
    background: #ffffff;

    img{
        width: 100%;
    }
    .prix{
        text-align: center;
        padding: 20px 0;
    }
    .prix::after{
        content: " €";
    }
    .wrapperColor{
        // display: flex;
        // flex-flow: wrap;
        // justify-content: space-evenly;
        padding-top: 20px;
        margin-top: 20px;
        border-top: solid 1px black;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;

        select{

            margin: 20px 0;

        }
    }
    .sampleColor{
        width: 50%;
        height: 50px;
        border: solid 1px black;
        margin: auto;
    }
}