
.wrapperForm{
    padding: 0 $gutter;
}

.formulaire{

    .formInput{
        display: block;
        width: 100%;
        margin-top: 5px;
        padding: 5px 5px;
        background-color: white;
        font-size: 1em;
        border-radius: 5px;
        box-shadow: 0 0 25px 5px rgb(205, 205, 205);
        border: none;
    }
    
    .formLabel{
        position: relative;
        padding-left: 10px;
        width: 100%;
    }
    
    .formLabel::after{
        content: "*";
        position: absolute;
        top: 0;
        left: 0px;
    
        color: red;
    }

    div{
        margin: 20px 0;
    }

}


