.titleBoxPanier{
    text-align: center;
    font-size: 1.5em;
    border-bottom: solid 1px black;
    padding-bottom: 20px;

 
}
.emptyBasket{
    text-align: center;
    padding: 50px;
    margin: 20px 0;
    font-size: 1em;
    font-weight: 400;
    background-color:lighten(red,40);
    color: darken(red,10);
    border: solid 1px red;
}

#recup{
    padding: 0 $gutter;
}

.boxItemPanier{

    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    background-color: #fff;
    border-bottom: solid 1px lightgray;
    padding: 10px 0 20px 0;

    .title{
        width: 100%;
        padding: 5px 0 15px 0px;
        font-size: 0.8em;
        font-style: italic;
        text-decoration: underline;
    }

    .boxPrixItem{
        height: 100%;
    }
  
    .itemImg {
        box-shadow: 0 0 10px 0 lightgray;
        width: 25%;
        min-height: 70px;
        height: auto;
        object-fit: cover;
    }
    
    .itemPrice{
        font-size: 0.6em;
    }
    .prixTotalItem{
        font-weight: bold;      
        text-align: right;  
    }
   .boxQuantite{
       text-align: center;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
   }
   select{
       margin-left: 10px;
   }
}

 .boxPrixTotal{
     font-size: 1.2em;
     font-weight: bold;
     display: flex;
     justify-content: space-between;
     padding: 10px $gutter;
     background-color: #fff;
     margin: 0 $gutter;

     div:nth-child(1){
         width: 70%;
         text-align: right;
     }
 }
